{% extends 'base.html.twig' %}

{% block title %}Mon panier - Brunch Go{% endblock %}

{% block main %}
<div class="container-fluid" id="cart">
    <h1 class="mb-4">Panier</h1>
    <table class="table bg-success bg-opacity-50">
    {% if formules is not empty %}
        <thead>
            <tr>
                <th scope="col" >Formule</th>
                <th scope="col">Produits</th>
                <th scope="col">Prix</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody >
            {% for key, singleFormule in formules %}
                <tr>
                    <td>{{ singleFormule.0.name }}</td> 

                    <td>{% for elements in singleFormule.1 %}
                            {% for item in elements %}
                                <li>{{ item.name }}</li>                   
                                 

                            {% endfor %}   
                        {% endfor %}
                    </td>

                    <td>{{ (singleFormule.0.price /100)|number_format(2, ',', '.')  }} €</td>
                    {# {% dump(singleFormule.0.id) %} #}
                    <td><a href="{{ path('delete', {'uniqId': key } ) }}" class="btn btn-danger btn-sm">Supprimer</a>
                </tr>         
            {% endfor %}                        
        </tbody>  
    </table>
    <a href="{{ path('app_order') }}" class ="btn btn-primary mb-3">Valider mon panier</a>
    {% elseif formules == null %}
    <div class="bg-primary">
        <p class="text-center" style="color: #E6E6E6;">Votre panier est vide. Pour commencer à commander nos delicieux brunch veuillez cliquer <a href="{{ path('app_formules')}}" class="text-decoration-none" style="color: #E6E6E6;">ici</a></p>            
    </div>
    {% endif %}
</div>
{% endblock %}
