{% extends 'base.html.twig' %}

{% block title %}Mon compte - Brunch Go{% endblock %}

{% block main %}
<main class="mx-3" style="height:30rem;">
    <h1>Mon compte</h1>
    <p class="text-end"><a href="{{ path('app_logout') }}"  class="btn btn-primary">Se déconnecter</a></p>
    Bienvenue {{app.user.firstname}} dans votre espace de compte.<br>
C'est ici que vous allez pouvoir gérer toutes vos informations personnelles.<br>

<hr>
{% if is_granted('ROLE_ADMIN') %}
<div class="row">
    <div class="col-md-3">
        <div class="account-item text-center"> 
            <a href="{{ path('app_account_password') }}">
                <img src="{{ asset('img/cadenas.png') }}" class="icons">
                Modifier mon mot de passe
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="account-item text-center"> 
            <a href="{{ path('app_account_address') }}">
                <img src="{{ asset('img/adresse.png') }}" class="icons">
                Gérer mes adresses
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="account-item text-center">
            <a href="{{ path('app_account_order') }}">
                <img src="{{ asset('img/commande.png') }}" class="icons">
                Mes commandes
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="account-item text-center">
            <a href="{{ path('app_admin') }}">
                Administration
            </a>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-4">
        <div class="account-item text-center"> 
            <a href="">
                <img src="{{ asset('img/cadenas.png') }}" class="icons">
                Modifier mon mot de passe
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="account-item text-center"> 
            <a href="">
                <img src="{{ asset('img/adresse.png') }}" class="icons">
                Gérer mes adresses
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="account-item text-center">
            <a href="{{ path('app_account_order') }}">
                <img src="{{ asset('img/commande.png') }}" class="icons">
                Mes commandes
            </a>
        </div>
    </div>
</div>
{% endif %}
</main>
{% endblock %}
