{% extends 'base.html.twig' %}

{% block title %}Détails de la commande {{ order.reference }}{% endblock %}

{% block main %}

    <h3>Formules commandées :</h3>
    {% for index, formule in orderDetails %}
        <h4>Formule {{ index + 1 }} : {{ formule.formule }}</h4>
        <p>Produits associés : {{ formule.products }}</p>
        <p>Prix de la formule : {{ (formule.price / 100)|number_format(2, ',', '.') }} €</p>
    {% endfor %}
    
{% endblock %}
