{% extends 'base.html.twig' %}

{% block title %}{{ formule.name }}{% endblock %}

{% block main %}
    <div class="container">        
        <div class="row justify-content-center bg-secondary py-1 text-primary">
            <div class="col-md-3 mt-5">
                <img src="/uploads/images/{{ formule.illustration }}" alt="{{ formule.name }}" class="img-fluid rounded border border-3 m-3">
            </div>
            <div class="col-md-6 mx-4 mt-5">
                {# <h3 class="text-success">{{ formule.name }}</h3> #}
                <h4>{{ formule.subtitle }}</h4>
                <span class="product-page-price">{{ (formule.price /100)|number_format(2, ',', '.')  }} €</span>
                <hr>
                <p>{{ formule.description |raw }}</p>
                <hr>
                

{# Personnalisation de la formule avec un menu déroulant des catégories et les produits. #}
<h4 class="text-success text-center">Personnalisez votre formule Brunch Go</h4>
<p class="text-center">Veuillez choisir deux produits par catégorie affichée</p>
<div class="container">        
    <form method="post">
        {{ form_start(form) }}
        <div class="accordion" id="accordionCategories">
            {% for categoryForm in form %}
                {% if categoryForm.vars.name != 'price' %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ loop.index }}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                                {{ categoryForm.vars.label }}
                            </button>
                        </h2>
                        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionCategories">
                            <div class="accordion-body">
                                {{ form_widget(categoryForm) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Ajouter au panier</button>
        {{ form_end(form) }}
    </form>
</div>
</div>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Sélectionnez tous les champs de formulaire de type checkbox
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');

        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                var categoryCheckboxes = document.querySelectorAll('input[type="checkbox"][name="' + this.name + '"]:checked');
                
                // Si le nombre de cases cochées dépasse 3, décochez la case actuellement cochée
                if (categoryCheckboxes.length > 2) {
                    this.checked = false;
                    
                }
            });
        });
    });
</script>
{% endblock %}