{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %} 

{% block title %}Finalisez votre commande{% endblock %}

{% block main %}

<div class="container-fluid">
    <h2 class="text-center pt-4">Récapitulatif avant paiement</h2><br>
    <div class="row px-5">
        <div class="col-md-6">
            <ul>
                <li><strong>Numéro de commande :</strong><br>{{ order.reference }}</li>
                <li><strong>Date de commande :</strong><br>{{ order.createdAt|date('d-m-Y H:i') }}</li>
                <li><strong>Jour de livraison :</strong><br>{{ order.deliveryDay }}</li>
                <li><strong>Heure de livraison :</strong><br>{{ order.deliveryHour }}</li>
                {% set formHtml %}
                <li><strong>Adresse de livraison :</strong> <br>{{ order.deliveryAddress|raw }}</li>
                {% endset %}
                {{ formHtml|replace({'[br]' : '<br>'})|raw }}
            </ul>
        </div>
        <div class="col-md-6">
        {% set total = 0 %}
            {% for key, singleFormule in selected_formule %}
                <div class="row {% if key > 0 %}mt-2{% endif %}">
                    <div class="col-3">
                        <strong>{{ singleFormule.0.name }}</strong><br><br>
                    </div>
                    <div class="col-6">
                        <ul>
                            {% for elements in singleFormule.1 %}
                                {% for item in elements %}
                                    <li>{{ item.name }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-3">
                        <strong>Prix :</strong> {{ (singleFormule.0.price / 100)|number_format(2, ',', '.') }} €
                    </div>
                </div>
                {% if not loop.last %}
                    <hr>
                {% endif %}
                {% set total = total + singleFormule.0.price %}
            {% endfor %}
        </div>
        <h4 class="text-end"><strong>Total : </strong>{{ (total / 100)|number_format(2, ',', '.') }} €</h4>
        <hr>
        <form action="{{ path('app_stripe_create_session', {reference: reference, selected_formule: selected_formule|json_encode}) }}" method="post">
        <button class="d-grid gap-2 col-5 mx-auto btn btn-primary my-4">Payer {{ (total /100)|number_format(2, ',', '.')  }}€</button>
        </form>
    </div>
</div>

{% endblock %}
