{% extends 'base.html.twig' %}

{% block title %}Finalisez votre commande{% endblock %}

{% block main %}
<div class="container-fluid">
    <h4 class="text-center pt-4">Choisissez vos préférences de livraison</h4><br>
    <div class="row px-5">
        <div class="col-md-5">
            {% set formHtml %}
                {{ form_start(form, {action:path('app_order_recap')}) }}
                <a href="{{ path('app_account_address_add') }}">Ajouter une nouvelle adresse</a>
                
                {{ form_end(form) }}
        {% endset %}


        {{ formHtml|replace({'[br]' : '<br>'})|raw }}
    </div>
    <div class="col-md-7">
        <div class="text-center">
            <b>Récapitulatif du panier</b><br>
        </div>
        <div class="order-summary">
        {% set total = 0 %}
            {% for key,singleFormule in selected_formule %}
                <hr><div class="row {% if key > 0 %}mt-2{% endif %}">
                    <div class="col-3">
                        {{ singleFormule.0.name }}<br>
                    </div>
                    <div class="col-8">
                        {% for elements in singleFormule.1 %}
                            {% for item in elements %}
                                - {{ item.name }}<br>                  
                            {% endfor %}   
                        {% endfor %}                        
                    </div>
                    {{ (singleFormule.0.price /100)|number_format(2, ',', '.')  }} €
                </div>
                {% set total = total + singleFormule.0.price %}
            {% endfor %}   
        </div>
        <h4 class="text-end"><strong>Total : </strong>{{ (total / 100)|number_format(2, ',', '.') }} €</h4>       
    </div>   
</div>
{% endblock %}